@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3498db; */
    background: url(https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dG8lMjBkbyUyMGxpc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60) no-repeat;
    background-size: cover;
}

.box {
    width: 700px;
    overflow: scroll;
    height: 80vh;
    padding: 15px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.box p {
    margin-bottom: 24px;
}

#item {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    display: block;
    font-weight: bold;
    box-shadow: 0px 0px 2px grey;
}

#to-do-box {
    margin-top: 20px;
    list-style: none;
}

#to-do-box li {
    position: relative;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border-radius: 2px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
}

#to-do-box li i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.done {
    text-decoration: line-through;
    color: black;
    background-color: transparent !important;
    border: 1px solid black;
}

::-webkit-scrollbar{
    width: 6px;
    height: 0px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, black);
    border-radius: 9px;
}